---
import { Icon } from "astro-icon/components";

import Section from "../../layouts/Section.astro";

import { getProjectSourceByID } from "../../assets/data.ts";
---

<script></script>

<Section title="Proyectos" styles="max-w-[1024px]">
  <Icon name="code" slot="icon" class="size-10 mt-1" />

  <div class="flex flex-col gap-y-16">
    {
      getProjectSourceByID([0, 1]).map((p) => (
        <article class="flex flex-col space-x-0 space-y-8 group cursor-pointer md:flex-row md:space-x-8 md:space-y-0">
          <div class="w-full md:w-1/2">
            <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
              <img
                alt={`Project_${p.id}`}
                class="w-full h-56 duration-500 sm:h-full md:scale-110"
                loading="lazy"
                src={p.portraid}
              />
            </div>
          </div>
          <div class="w-full md:w-1/2 md:max-w-lg">
            <h3 class="text-2xl font-bold text-purple-900">{p.title}</h3>
            <div class="flex flex-wrap mt-2">
              <ul class="flex flex-row mb-2 gap-x-2">
                {p.tech.map((t) => (
                  <li>
                    <span
                      style={{
                        borderColor: `${t.color}`,
                        backgroundColor: `${t.color}42`,
                        color: `${t.color}`,
                      }}
                      class={`flex gap-x-2 py-1 px-4 border rounded-full text-xs  font-bold`}
                    >
                      <img src={t.icon} alt={t.label} class="size-4" />
                      {t.label}
                    </span>
                  </li>
                ))}
              </ul>
              <div class="mt-2 text-lite-700">{p.desc}</div>
              <footer class="flex items-end justify-start mt-4 gap-x-4">
                {p.code && (
                  <a
                    target="_blank"
                    href="#"
                    role="link"
                    class="inline-flex bg-lite-200 text-purple-900 
                    border border-lite-500 rounded-xl items-center justify-center gap-1 px-3 py-1 space-x-2 text-base transition hover:bg-lite-300"
                  >
                    <Icon name="github" class="size-5" />
                    Code
                  </a>
                )}
                {p.preview && (
                  <a
                    target="_blank"
                    href="#"
                    role="link"
                    class="inline-flex bg-purple-400 text-purple-100 
                    border border-purple-700 rounded-xl items-center justify-center gap-1 px-3 py-1 space-x-2 text-base transition hover:bg-purple-500"
                  >
                    <Icon name="link" class="size-4" />
                    Preview
                  </a>
                )}
              </footer>
            </div>
          </div>
        </article>
      ))
    }

    <a href="#" class="text-center text-purple-600">Ver todos...</a>
  </div>
</Section>
